<div class="pop-up__overlay">
  <div class="pop-up__container">
    <i class="material-icons pop-up__container__button" (click)="closePopUp()">clear</i>
    <app-search-panel class="pop-up__search-panel"
                      [usersToUpdate]="usersToUpdate">
    </app-search-panel>
    <app-create-chat-form class="pop-up__create-chat-form"
                          [usersToUpdate]="usersToUpdate"
                          (closePopUpEvent)="closePopUp()">
    </app-create-chat-form>
  </div>
</div>
