<div class="chat">
  <div class="chat__header">
    <app-header (openSearchFormEvent)="openSearchForm()"></app-header>
  </div>
  <div #scrolling infiniteScroll [infiniteScrollUpDistance]="9.9" [scrollWindow]="false" [infiniteScrollThrottle]="100"
       [alwaysCallback]="true" (scrolledUp)="scrolledEventListener()" class="chat__messages search-results">
    <app-preloader [ngClass]="{'hidden' : isFinalMessages}"></app-preloader>
    <app-messages [messages]="messages"></app-messages>
  </div>
  <div class="chat__input-messages"><app-input-message></app-input-message></div>
</div>
