<div class="pop-up__overlay">
  <div class="pop-up__container">
    <i class="material-icons pop-up__container__button" (click)="closePopUp()">clear</i>
    <app-search-panel class="pop-up__search-panel"
                      [usersToUpdate]="usersToUpdate">
    </app-search-panel>
    <app-update-chat-form class="pop-up__update-chat-form"
                          [usersToUpdate]="usersToUpdate"
                          [chat]="chat!"
                          (closePopUpEvent)="closePopUp()">
    </app-update-chat-form>
  </div>
</div>

