<div class="sign-up-container">
  <div class="row sign-up-page">
    <div class="col s12 z-depth-6 card-panel" [ngClass]="{'hidden' : isPreloaderOpened}">
      <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
        <app-login-input formGroupName="loginInput"></app-login-input>
        <app-email-input formGroupName="emailInput"></app-email-input>
        <app-birth-date-input formGroupName="birthDateInput"></app-birth-date-input>
        <app-password-input formGroupName="passwordInput"></app-password-input>
        <app-repassword-input formGroupName="repasswordInput"></app-repassword-input>
        <app-error-message [errorMessage]="errorMessage"></app-error-message>
        <app-submit-button [name]="'Sign Up'" [isFormDisabled]="signUpForm.invalid"></app-submit-button>
        <app-ref-link [name]="'Log In'" [refLink]="'/logIn'"></app-ref-link>
      </form>
    </div>
    <div [ngClass]="{'hidden' : !isPreloaderOpened}"><app-preloader></app-preloader></div>
  </div>
</div>
