.sign-up-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
  background-color: #ede7f6;
}
.sign-up-page {
  width: 500px;
}
.log-in_container{
  display: flex;
  justify-content: center;
}
.log-in{
  font-size: 20px;
  color: #9575cd;
}
.log-in:hover{
  color: #d1c4e9;
}
.invalid{
  border-bottom: 1px solid rgb(196, 0, 0);
}
.error-message{
  text-align: center;
  color: rgb(196, 0, 0);
}
.hidden{
  display: none;
}
