.message-input{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ede7f6;
  padding: 20px 30px 10px;
}
.message-input__field{
  margin: 0;
  width: 95%;
}
.message-input-btn{
  position: initial !important;
}
