<div class="login-container">
  <div class="row login-page">
    <div class="col s12 z-depth-6 card-panel login_panel" [ngClass]="{'hidden' : isPreloaderOpened}">
      <form [formGroup]="logInForm" (ngSubmit)="logIn()" class="login-form">
        <app-login-input formGroupName="loginInput"></app-login-input>
        <app-password-input formGroupName="passwordInput"></app-password-input>
        <app-error-message [errorMessage]="errorMessage"></app-error-message>
        <app-submit-button [name]="'Log In'" [isFormDisabled]="logInForm.invalid"></app-submit-button>
        <app-ref-link [name]="'Sign Up'" [refLink]="'/signUp'"></app-ref-link>
      </form>
    </div>
    <div [ngClass]="{'hidden' : !isPreloaderOpened}" class="preloader">
      <app-preloader></app-preloader>
    </div>
  </div>
</div>
