<div class="login-container">
  <div class="row login-page">
    <div class="col s12 z-depth-6 card-panel">
      <form [formGroup]="logInForm" (ngSubmit)="logIn()" class="login-form">
        <div class="row">
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">account_circle</i>
            <input class="validate" id="login" type="text" formControlName="login"
                   [ngClass]="{'invalid' : checkInput('login')}">
            <label for="login" data-error="wrong" data-success="right">LogIn</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">lock_outline</i>
            <input id="password" type="password" formControlName="password"
                   [ngClass]="{'invalid' : checkInput('password')}">
            <label for="password">Password</label>
          </div>
        </div>
        <div class="row" [ngClass]="{'hidden' : errorMessage == ''}">
          <p class="error-message">{{errorMessage}}</p>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <button class="btn waves-effect waves-light col s12" [disabled]="logInForm.invalid"
                    [ngClass]="{'disabled' : logInForm.invalid}">Log In</button>
          </div>
        </div>
        <div class="row sign-up_container">
          <div class="input-field col">
            <p class="margin medium-small"><a routerLink="/signUp" class="sign-up">Sign Up</a></p>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
