.verify-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
  background-color: #ede7f6;
}
.verify-page {
  width: 500px;
}
.verify-form{
  padding-bottom: 20px;
}
.hidden{
  display: none;
}
.send-again_container{
  display: flex;
  justify-content: center;
  text-align: center;
}
.send-again__button{
  margin: 0 auto;
}
