.verify-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
  background-color: #ede7f6;
}
.verify-page {
  width: 500px;
}
.ref_container{
  display: flex;
  justify-content: center;
}
.ref{
  font-size: 20px;
  color: #9575cd;
}
.ref:hover{
  color: #d1c4e9;
}
.invalid{
  border-bottom: 1px solid rgb(196, 0, 0);
}
.error-message{
  text-align: center;
  color: rgb(196, 0, 0);
}
.hidden{
  display: none;
}
.send-again_container{
  display: flex;
  justify-content: center;
  text-align: center;
}
.send-again__button{
  margin: 0 auto;
}
