<div class="verify-container">
  <div class="row verify-page">
    <div class="col s12 z-depth-6 card-panel" [ngClass]="{'hidden' : isPreloaderOpened}">
      <form class="verify-form" [formGroup]="codeFrom" (ngSubmit)="verify()">
        <app-code-input formGroupName="codeInput"></app-code-input>
        <app-error-message [errorMessage]="errorMessage"></app-error-message>
        <div class="row send-again_container">
          <app-timer *ngIf="isTimerShown" (timerFinishEvent)="closeTimer()"></app-timer>
          <button *ngIf="!isTimerShown" (click)="sendAgain()" class="btn waves-effect waves-light col s6 send-again__button">Send again</button>
        </div>
        <app-submit-button [isFormDisabled]="codeFrom.invalid" [name]="'Verify'"></app-submit-button>
      </form>
    </div>
    <div [ngClass]="{'hidden' : !isPreloaderOpened}">
      <app-preloader></app-preloader>
    </div>
  </div>
</div>
